{% extends "base.twig" %}

{% block content %}
	<div class="max-w-5xl mx-auto px-6 py-8">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			{% for post in posts %}
				{% include ["tease-"~post.post_type~".twig", "tease.twig"] %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
