{% extends "base.twig" %}

{% block content %}
	<form class="bg-white shadow-lg rounded-xl p-6 border border-gray-200 max-w-md mx-auto mt-10"
		  action="{{ site.site_url }}/wp-login.php?action=postpass" method="post">

		<label for="pwbox-{{post.ID}}" class="block text-gray-700 font-medium mb-2">
			Password:
		</label>

		<input class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
			   name="post_password" id="pwbox-{{post.ID}}" type="password"
			   placeholder="Enter your password" size="20" maxlength="20" />

		<input class="mt-4 w-full bg-blue-600 text-white font-medium py-2 rounded-lg hover:bg-blue-700 transition-all cursor-pointer"
			   type="submit" name="Submit" value="Submit" />
	</form>
{% endblock %}
